/* Footer Sticky Optimized https://css-tricks.com/a-clever-sticky-footer-technique/ */
.customizedContainer { /* src/hocs/Layout.jsx */
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

.containerContent { /* src/hocs/Layout.jsx */
  flex: 1 !important;
}